.header{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    align-items: center;
    margin-bottom:15px;
}

.nav-items{
    display:flex;
    list-style-type: none;
    margin-left:-1rem;
}

.nav-items li{
    padding:15px;
    font-size: 18px;
    margin-right:20px;
}

.img{
    width:150px;
}

.search-container{
    margin-bottom:10px;
}
.res-card{
    padding:5px;
    width:190px;
    border:1px solid black;
    margin:5px
}
/* .cui{
    width:80%;
} */
.cuisines{
    /* word-wrap:break-word; */
    overflow-wrap: break-word;
}

.res-card:hover{
    background-color: lightgray;
}

.res-card-data{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.res-image{
    width:100%;
}

.allRestaurant{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-parent{
    display: flex;
    flex-wrap: wrap;
}

.shimmer{
    margin:10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    background-color: lightgrey;
    height:150px;
    width:200px;
}